body {
  background-color: rgb(249, 255, 254);
}

h1 {
  font-family: Arial, Verdana, sans-serif;
  color: rgb(79, 79, 83);
}

div {
  font-family: Arial, Verdana, sans-serif;
}

h3 {
  font-family: Arial, Verdana, sans-serif;
  color: rgb(79, 79, 83);
}

p {
  font-family: Georgia, Times, serif;
  margin-left: 10px;
  border-left: 3px solid rgb(0, 126, 119);
  padding-left: 10px;
}

ul {
  font-family: Georgia, Times, serif;
  margin-left: 10px;
  border-left: 3px solid rgb(0, 126, 119);
  padding-left: 25px;
}
